* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  color: #656565;
  font-family: "Montserrat", sans-serif;
}

h2 {
  color: white;
  padding: 20px;
}

h3 {
  color: white;
  text-align: center;
  padding: 20px;
}

h4 {
  text-align: center;
}

h2 + h4 {
  text-align: left;
  padding-left: 20px;
}


img {
  width: 100%;
}


/*****************UTILITY************/

.container {
  margin: 0 auto;
  height: calc(100vh - 90px); 
}

.d-flex {
  display: flex;
}

.debug {
  border: 1px solid rgba(255, 0, 0, .2);
  background-color: pink;
}

.row {
  display: flex;

}


/*******MAIN**********/

  /********MAIN-TOP****/
  
  .main-top {
    justify-content: end;
  }
  
  button {
    background-color: #080B12;
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    border: 2px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 36px;
 
  }

  

    /********MAIN-TOP****/
  
.container-main {
  width: 100%;
  overflow: auto;
  background: #141922;
  
}

.main-top {
  background-color: #080B12;
  height: 90px;
}

.main-center {
  height: 100%;
  padding: 10px;
}

.menu ul {
justify-content: center;
padding: 10px;
list-style: none;
}

.menu ul li{
  justify-content: center;
  padding: 10px;
  font-weight: bold;
  }

.menu ul li a{
  text-decoration: none;
  color: #656565;

    }

.deck {
  padding: 10px;
  width: 100%;
}

.card {
  position: relative;
  padding: 20px 10px 10px 10px;
  width: calc(100% / 6);
  z-index: 1;
}

div.card.tonda img{
  border-radius: 50%;
}


/*******SIDEBAR******/

aside {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  width: 230px;
  background-color: #000000;
}


ul.list-playlist {
  flex-grow: 1;
  overflow: auto;
}

.list-playlist li {
  font-weight: bold;
}

aside h2 {
  padding-left: 0px;
}

aside .logo img{
  padding: 10px;
  width: 150px;
}

aside ul {
  list-style: none;
  margin-bottom: 20px;
}

aside ul li{
  padding: 10px 0px;
  width: 100%;
  vertical-align: middle;
}


aside ul li a{
  padding: 5px 0;
  width: 100%;
  text-decoration: none;
  color: #656565;
  vertical-align: middle;
  font-weight: bold;
  font-size: 0.8rem;

}

i.fa-plus-square {
  font-size: 3rem;
  color: #A3A3A3;
  vertical-align: middle;
  
}

a img {
  width: 30px;
  vertical-align: middle;

}


i.fa-arrow-alt-circle-down {
  margin-right: 10px;
}

.user span {
  font-weight: bold;
}

span.nome-utente {
  color: white;
}

.user hr {

  margin: 10px 0 5px 0;
}

.user img {
  width: 30px;
  height: 30px;
  margin: 5px 5px 5px 0px;
  background-color: gray;
  border-radius: 50%;
  vertical-align: middle;
}



/*******FOOTER*******/

footer {
  background-color: #282828;
  width: 100%;
  height: 90px;
}

footer .footer-container {
  display: flex;
  height: 90px;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  align-items: center;

}

footer .mid-foot {
  height: 90px;
  width: 40%;
  padding-top: 10px;;
}

footer .right-foot {
  width: 230px;
 
}

footer .left-foot {
  width: 230px;
  height: 100%;
}

ul.d-flex {
  list-style: none;
  justify-content: center;
  align-items: center;
}

footer .play-buttons {
  height: 60%;
}

footer ul.mid-buttons {
  height: 100%;
  align-items: center;
  color: white;
  padding: 10px;
}


footer ul.mid-buttons li {
  padding: 0px 20px;
  font-size: 1.5rem;

}

footer i.fa-circle-play {
  font-size: 2.5rem;
}

footer .elapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40%;
  padding: 10px 0 10px 0;
}

footer .elapse span {
  color: #FEFEFE;
  font-weight: bold;
}

footer .elapse-bar {
  background-color: grey;
  height: 6px;
  width: 80%;
  border-radius: 20px;
}

footer .progress {
  width: 20%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  padding-bottom: 5px;;
}

ul.right-menu {
  width: 100%;
}

footer .right-menu li{
padding: 0 10px;
}

footer .right-menu li a{
  color: white;
}

footer ul.right-menu .progress {
  width: 20%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  margin-left: -10px;
}

.left-bar {
  height: 100%;
}

.left-bar img {
  width: 30%;
  padding: 5px;
  vertical-align: middle;
}

div.info-brano {
  align-self: center;
}

.left-bar span {
  display: block;
  font-size: 0.7rem;
  vertical-align: middle;
  font-weight: bold;

}

span.gruppo {
  font-size: 1rem;
  color: white;
}



div.left-icons {
  align-items: center;
  padding-left: 10px;
}

div.left-icons i {
  padding: 5px;
}

/***********HOVER*********/

button:hover {
  font-size: 0.9rem;
  margin: 18px 7px 18px 7px;
  cursor: pointer;

}

a:hover, li:hover {
  color: white;
  cursor: pointer;
}

div.playlist:hover i, div.playlist:hover span {
  color: white;
  cursor: pointer;
}

div.user:hover i.fa-arrow-alt-circle-down, div.user:hover span.install {
  color: white;
  cursor: pointer;
}

.brano:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

i.fa-heart:hover, i.fa-folder:hover {
  color: white;
  cursor: pointer;
}

i.fa-circle-play:hover{
  font-size: 2.7rem;
  cursor: pointer;
}

.elapse-bar:hover .progress {
  cursor: pointer;
  background-color: greenyellow;
}

li.elapse-bar:hover div.progress {
  background-color: greenyellow;
}

.menu ul li:hover a{
  text-decoration: none;
  color: white
 }

div.bg-opacity {
  background-color: #000000;
  opacity: 0.5;
  width: 255px;
  height: 255px;
  position: absolute;
  top: 20px;
  display: none;
  z-index: 1;
}

.card:hover div.bg-opacity {
  display: block;
}

.card i.fa-circle-play {
  position: absolute;
  color: white;
  top: 29%;
  left: 37%;
  font-size: 5rem;
  z-index: -1;
  display: none;
}

.card:hover i.fa-circle-play {
  z-index: 1;
  display: block;
}

.point-elapse {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  z-index: -1;
}

.elapse-bar:hover .point-elapse {
  z-index: 1;
  cursor: pointer;
}

.elapse-bar, li.elapse-bar {
  align-items: center;
}

.green-r-hover {
  background-color: greenyellow;
  width: 35px;
  height: 3px;
  border-radius: 20px;
  margin-top: 5px;
  z-index: -1;

}

nav.menu ul li{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

nav.menu ul li:active .green-r-hover {
  z-index: 1;
}

.green-c-hover {
  position: absolute;
  background-color: greenyellow;
  width: 3px;
  height: 35px;
  left: 0;
  z-index: -1;
  
}

ul.home li:active .green-c-hover{
  z-index: 1;
}



/******MEDIA*******/