* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  color: #656565;
  font-family: "Montserrat", sans-serif;



}

h2 {
  color: white;
  padding: 20px;
}

h3 {
  color: white;
  text-align: center;
  padding: 20px;
}

h4 {
  text-align: center;
}

h2 + h4 {
  text-align: left;
  padding-left: 20px;
}


img {
  width: 100%;
}

/*****************UTILITY************/

.container {
  margin: 0 auto;
  width: 100%;
  height: calc(100vh - 90px); 
}

.d-flex {
  display: flex;
}

.debug {
  border: 1px solid rgba(255, 0, 0, .2);
  /* background-color: pink; */
}

.row {
  display: flex;

}

.col {
  /* min-height: 40px;  ****DEBUG*** */
}
  
/*******MAIN**********/

aside {
  width: 230px;
  height: 100%;
  background-color: #000000;
}

.container-main {
  width: 100%;
  overflow: auto;
  background: #141922;
  
}

.main-top {
  background-color: #080B12;
  height: 90px;
}

.main-center {
  height: 100%;
  padding: 10px;
}

.menu ul {
justify-content: center;
padding: 10px;
list-style: none;
}

.menu ul li{
  justify-content: center;
  padding: 10px;
  font-weight: bold;
  }

.menu ul li a{
  text-decoration: none;
  color: #656565;

    }

.deck {
  padding: 10px;
  width: 100%;
}

.card {
  padding: 20px 10px 10px 10px;
  width: calc(100% / 6);
}

div.card.tonda img{
  border-radius: 50%;
}



/*******FOOTER*******/

footer {
  display: flex;
  position:absolute;
  bottom: 0vh;
  background-color: #282828;
  width: 100%;
  height: 90px;
}

footer .footer-container {
  display: flex;
  height: 90px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

footer .card{
  padding: 20px;
  max-height: 90px;
  align-items: center;
}


footer .card div{
  padding: 15px;
}

footer .info-brano {
 
}


span.gruppo {
color: white;
font-size: 0.8rem;
font-weight: bold;
}

span.brano {
color: #656565;
font-weight: bold;
font-size: 0.6rem;
}

ul.d-flex {
  list-style: none;
  justify-content: center;
  align-items: center;
}

footer ul.d-flex li {
  color: white;
  padding: 20px 20px;
  font-size: 1.5rem;
}

footer ul.d-flex li:nth-child(3){
  font-size: 3rem;
  vertical-align: center;
  line-height: 100%;
}

div.left-icons i.fa-heart{
  padding-right: 10px;
}
